<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}"/>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{site.title}}">
  <meta property="og:site_name" content="{{site.title}}" />
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:image" content="{{site.url}}/img/og-logo.jpg">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta property="og:locale" content="en_GB"/>

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="{{site.twitterHandle}}"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  <meta name="twitter:image" content="{{site.url}}/img/og-logo.jpg"/>
  <meta name="twitter:image:alt" content="{{site.title}}"/>

  <meta name="theme-color" content="{{site.themeColour}}">
  <link rel="shortcut icon" type="image/jpg" href="img/favicon.jpg"/>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <header>
    <img src="/img/logo.png" alt="BOPS logo">
  </header>

  <main>{{{content}}}</main>

  <footer>
    <p>WEBSITE DESIGN <em>ASPACEFORSOMETHING</em> + BUILD <em>MAYTREEHOUSESTUDIOS</em></p>
    <p>BOPS, BRIGHTENING OUR PUBLIC SPACES 2021</p>
  </footer>

  <script>
    const c = document.getElementsByTagName('footer')[0].getElementsByTagName('p')[1];
    c.innerHTML = c.innerHTML.replace(2021,(new Date).getFullYear())
  </script>
</body>

</html>